<div id="multiSelector" class="modal modal-selector multi-selector hide fade" tabindex="-1">
  
  <div class="modal-header">
    <div class="pull-right">
      <a class="btn btn-mini" href="#" data-dismiss="modal">
        <i class="grcicon-x-grey"></i>
      </a>
    </div>
    <h2><strong>Map Objects</strong> to Service Cloud Data Assets</h2>
  </div>
  
  <div class="modal-filter">
    <div class="row-fluid">
      <div class="span6">
        <select class="span11">
          <optgroup label="Programs">
            <option>Programs</option>
          </optgroup>
          <optgroup label="Governance">
            <option>Regulations</option>
            <option>Contracts</option>
            <option>Policies</option>
            <option>Objectives</option>
            <option>Controls</option>
          </optgroup>
          <optgroup label="Assets/Business">
            <option>Systems</option>
            <option>Processes</option>
            <option>Data Assets</option>
            <option>Products</option>
            <option>Projects</option>
            <option>Facilities</option>
            <option>Markets</option>
            <option>Org Groups</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  
  <div class="modal-content">
    <div class="row-fluid">
      <div class="span6">
        <div class="selector-info">
          <strong>Available Programs (12)</strong>
        </div>
      </div>
      <div class="span3">
        <div class="selector-info">
          <strong>Selected Objects to be mapped (5)</strong>
        </div>
      </div>
      <div class="span3">
        <div class="selector-info main-description">
          <strong>Mapping to Data Asset:</strong>
        </div>
      </div>
    </div>
  </div>
  
</div>